form {
  padding: 15px;
}

textarea {
  display: block;
  width: 100%;
}

.authorsContainer {
  display: flex;
  flex-direction: row;
}

.createAuthor {
  width: 55%;
}

.courseAuthors {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.courseAuthors strong {
  display: block;
}

.authorsContainer > strong {
  display: block;
  text-align: center;
  padding-top: 24px;
}

.authorsList {
  margin-top: 10px;
}

.notification {
  text-align: center;
}

.invalid {
  color: red;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.buttons button {
  margin-left: 5px;
}
